.inline select {
  background-color: transparent;
  border: 0;
  outline: none !important;
  padding: 8px;
}

.inline select:focus {
  outline: none !important;
}

.inlineStyle select:hover {
  /*background-color: #d3d3d3;*/
  cursor: pointer !important;
}
